<!DOCTYPE html>
{% extends "recommend_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block style %}
<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}

<!-- block title
<div class="jumbotron jumbotron-fluid" style="height: 50%; ">
    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center;">
            <h1>Coming Soon</h1>
        </div>
    </div>
</div>
endblock
-->

{% block content %}
<div class="row justify-content-center">
    <div class="col-10" style="text-align: center;">
        <h1>Recommend a New Movie Theatre to see reviews about!</h1>
    </div>
</div>
<table>
    <tr>
        <th>Your Email</th>
        <th>Name of Movie Theatre</th>
        <th>Location</th>
        <th>Price Rating</th>
    </tr>
    <!-- Loop through rows in table -->
    {% for row in table %}
    <tr>
        <th>{{ row['email'] }}</th>
        <th>{{ row['theatre'] }}</th>
        <th>{{ row['location'] }}</th>
        <th>{{ row['price'] }}</th>
        <th><form action={{url_for('.delete')}} method="post"><input id="email_id" name="item_id" value={{row['email']}} style="visibility: hidden; width: 0px;"><input type="submit" value="Delete"></form></th>
    </tr>
    {% endfor %}
</table>

<!-- Create action, input and "Add" a new row to table  -->
<div class="jumbotron jumbotron-fluid" style="height: 50%; ">



    <div class="row courses-buttons justify-content-center">

        <form class="form-append" method="POST" action="/recommend/">
            {{ form.hidden_tag() }}
            <h2 class="form-signin-heading">Enter movie theatres you would like to see be added into the website in the future...</h2>
            {{wtf.form_field(form.email)}}
            {{wtf.form_field(form.theatre)}}
            {{wtf.form_field(form.location)}}
            {{wtf.form_field(form.price)}}
            <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
        </form>


    </div>
</div>
{% endblock %}