<!DOCTYPE html>
{% extends "home.html" %}

{% block content %}

<!--
<head>
    <meta charset="UTF-8">
    <title>Andrea Minilab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/docs/4.6/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
    </style>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<div class="masthead mb-auto">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
-->


<!-- Nav Bar -->
<div class="w3-top w3-bar w3-black w3-padding w3-card w3-wide">

    <div class="w3-right w3-hide-small">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="groc" class="w3-bar-item w3-button">Grocery</a>
        <a href="books" class="w3-bar-item w3-button">Books</a>
        <a href="cafe" class="w3-bar-item w3-button">Cafes</a>
        <a href="movie" class="w3-bar-item w3-button">Movie Theatres</a>
        <a href = "/minilabs_shreya/prime_numbers">Shreya Minilab</a>
        <a href = "/minilabs_andrea/myfibonacci">Andrea Minilab</a>
        <a href = "/ryan/odd">Ryan Minilab</a>
        <a href = "/minilabs_diane/fib">Diane Minilab</a>

    </div>


        <!-- Title -->
        <div class="col-12" style="text-align: center; color:lightgreen;">
            <h1><strong>Exponential Series in Python (2 to the power of (n-1))</strong></h1>
        </div>

        <!-- Input and Content -->

        <div class="jumbotron text-center row">
            <div class="col-md-6" style="color:pink;">
                <h3>Type an nth number into the exponential sequence:</h3>
                <img class="img-responsive py-3" src="/static/assets/Fibonacci_spiral.svg" alt="" width="25%" height="Auto">
                <form id="fibForm" action="/minilabs_andrea/myfibonacci" method="POST" >
                    <input name="series" id="series" type="number" min="2" max="6" >
                    <button>Go!</button>
                </form>
            </div>

            <div class="col-md-6" style="color:powderblue;">
                <h3>Exponential series for n={{exponential.series}}</h3>
                <!-- Number, List table -->
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">List</th>
                    </tr>
                    <tr>
                        <td>{{exponential.number}}</td>
                        <td>{{exponential.list}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Sequence -->
        <div class="col-12" style="text-align: left; color:lightyellow;">
            <!-- Series -->
            <h3>Exponential build up for series: n={{exponential.series}}      number: {{exponential.number}}</h3>
            <div class="overflow-auto" style="height: 200px">
                {% for i in range(exponential.series) %}
                <h5>{{exponential.get_sequence(i)}}</h5>
                {% endfor %}
            </div>


</div>
    <h1 style="font-size: 12px; color:blue;">Binary Point Grading (Click on each link to see code)</h1>
    <!-- Code/Explanation -->
    <h2 style="font-size: 11px"><a href="https://github.com/ShreyaV-05/Waves/tree/main/minilabs_andrea">Point 1: Individual Section Blueprint (My Mini Lab Directory)</a></h2>
    <h2 style="font-size: 11px"><a href="https://github.com/ShreyaV-05/Waves/blob/main/minilabs_andrea/myfibonacci.py#L4-L33">Point 2: Defining a Class named "Exponential" with functions inside</a></h2>
    <h2 style="font-size: 11px"><a href="https://github.com/ShreyaV-05/Waves/blob/main/minilabs_andrea/myfibonacci.py#L58">Point 3: Creating object named "exponential" from class</a></h2>
    <h2 style="font-size: 11px"><a href="https://github.com/ShreyaV-05/Waves/blob/main/minilabs_andrea/myfibonacci.py#L60-L66">Point 4: Using "getters" to pull the data out from inside the class Exponential</a></h2>
    <h2 style="font-size: 11px"><a>Point 5: Insight I gained from this project was learning more about objects and how when using getters, we can refer to the object and pull things out of the class we created and, in this example, "get" things like the number out of it, the series, and also iterating through a sequence. </a></h2>

</div>
</div>

</div>
</div>
<style>
    table, td, th {
        border: 1px solid var(--dblue);
    }
    td, th {
        text-align:left;
    }
</style>
{% endblock %}
